<div class="form_box">
    <form action="" class="form">
        <label for="capital_origem">Capital de Origem</label>
        <input type="text" placeholder="Insira a capital de origem...">
        <label for="capital_destino">Capital Destino</label>
        <input type="text" placeholder="Insira a capital de destino...">
        <label for="preco_combustivel">Preço do combustível</label>
        <input type="text" placeholder="Insira o preço do combustível...">
        <label for="autonomia_km">Autonomia Km/l</label>
        <input type="text" placeholder="Insira a autonomia do carro...">
        <button>Submit</button>
    </form>
</div>
